body {
  background-color: #fdf9e4;
}
.jumbotron {
  background-color: #000;
}
.jumbotron h1 {
  font-family: sans-serif;
  color:#fdf9e4;
  text-shadow:5px 5px 2px #888888;
}

.jumbotron h4 {
  font-family: cursive;
  color: #bd0023;
}

.jumbotron img {
  float:right;
  width: 300px;
  height: 150px;
}

#pizza h3 {
  text-decoration: underline;
  color:#bd0023;
}

#pizza button {
  background-color:#bd0023;
}
#pizzaOutput {
  display:none;
}

#pizzaOutput h3 {
  text-align: center;
}

#pizzaOutput img {
  margin-left: 300px;
  margin-right: 300px;
}

#about h3 {
  text-decoration: underline;
  color:#bd0023;
}

#about img {
  height: 60%;
  width: 60%;
  margin-left: 15%;
  margin-right: 15%;
}
